/*.page-header {
  background-image:url('https://scontent-iad3-1.xx.fbcdn.net/hphotos-xlt1/v/t1.0-9/12743598_481197332090283_5008705628011713272_n.jpg?oh=02798b57b753bcdb2f9009296a00d236&oe=57604D08');
  height: 215px;
  background-repeat: no-repeat;
  padding: 14px 10px;

}*/

.container {
  background-image:url('http://www.vectorea.com/tvx_uploads/10/2019-colorful-tone-triangle-mosaic-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.btn{
  background-color: #adebad;
  color: black;
}
.panel{
  background-color: #adebad;
}

body{
  /*background-color: #030111;*/
}

.centered{
    text-align: center;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    /*filter: alpha(opacity=0);*/
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}